In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
df = pd.read_csv('turnover_data.csv')

In [2]:
df.head()

,satisfaction_level,last_evaluation,number_patients,average_montly_hours,time_spend_clinic,Work_accident,left,promotion_last_5years,Department,salary
0,0.45,0.57,2,134,3,0,1,0,family_nursing,low
1,0.40,0.51,2,145,3,0,1,0,family_nursing,low
2,0.45,0.55,2,140,3,0,1,0,family_nursing,low
3,0.84,0.87,4,246,6,0,1,0,family_nursing,low
4,0.10,0.94,6,255,4,0,1,0,medical_surgical_nursing,low

In [4]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["salary"] = encoder.fit_transform(df["salary"])
df["Department"] = encoder.fit_transform(df["Department"])
df.head()

,satisfaction_level,last_evaluation,number_patients,average_montly_hours,time_spend_clinic,Work_accident,left,promotion_last_5years,Department,salary
0,0.45,0.57,2,134,3,0,1,0,1,1
1,0.40,0.51,2,145,3,0,1,0,1,1
2,0.45,0.55,2,140,3,0,1,0,1,1
3,0.84,0.87,4,246,6,0,1,0,1,1
4,0.10,0.94,6,255,4,0,1,0,3,1

In [1]:
X = df.drop('left', axis=1)
y = df['left']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

NameError: name 'df' is not defined

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12739 entries, 0 to 12738
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     12739 non-null  float64
 1   last_evaluation        12739 non-null  float64
 2   number_patients        12739 non-null  int64
 3   average_montly_hours   12739 non-null  int64
 4   time_spend_clinic      12739 non-null  int64
 5   Work_accident          12739 non-null  int64
 6   left                   12739 non-null  int64
 7   promotion_last_5years  12739 non-null  int64
 8   Department             12739 non-null  int32
 9   salary                 12739 non-null  int64
dtypes: float64(2), int32(1), int64(7)
memory usage: 945.6 KB

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
model = GradientBoostingRegressor(n_estimators=300,max_depth=3, random_state=13,learning_rate=0.1)
model = GridSearchCV(GradientBoostingRegressor(), param_grid={'n_estimators': [ 250, 290,300,310, 350, 400],
                                'max_depth': [2,3,4,5],'criterion':['squared_error'],'learning_rate':[0.01,0.001]},
                    verbose=1,cv= 3,n_jobs=-1)
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [12]:
model.best_estimator_

GradientBoostingRegressor(criterion='squared_error', learning_rate=0.01,
                          max_depth=5, n_estimators=400)

In [13]:
y_pred = model.predict(X_test)

In [14]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9012161219640105

In [15]:
import statsmodels.api as sm
model = sm.OLS(y,X).fit()
print(model.summary2())

C:\Users\jayas\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\jayas\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

                        Results: Ordinary least squares
================================================================================
Model:                  OLS              Adj. R-squared (uncentered): 0.356
Dependent Variable:     left             AIC:                         12073.6442
Date:                   2023-07-19 20:05 BIC:                         12140.7161
No. Observations:       12739            Log-Likelihood:              -6027.8
Df Model:               9                F-statistic:                 782.8
Df Residuals:           12730            Prob (F-statistic):          0.00
R-squared (uncentered): 0.356            Scale:                       0.15095
----------------------------------------------------------------------------------
                         Coef.    Std.Err.      t       P>|t|     [0.025    0.975]
----------------------------------------------------------------------------------
satisfaction_level      -0.5333     0.0131   -40.7323   0.0000   -0.5590   -0.5077
last_evaluation          0.2534     0.0211    12.0251   0.0000    0.2121    0.2947
number_patients         -0.0224     0.0032    -7.0373   0.0000   -0.0287   -0.0162
average_montly_hours     0.0013     0.0001    17.3175   0.0000    0.0011    0.0014
time_spend_clinic        0.0422     0.0023    18.2775   0.0000    0.0377    0.0467
Work_accident           -0.1455     0.0098   -14.7769   0.0000   -0.1648   -0.1262
promotion_last_5years   -0.1643     0.0229    -7.1824   0.0000   -0.2091   -0.1195
Department               0.0065     0.0023     2.8495   0.0044    0.0020    0.0110
salary                   0.0492     0.0052     9.5517   0.0000    0.0391    0.0593
--------------------------------------------------------------------------------
Omnibus:                 1313.779           Durbin-Watson:              0.349
Prob(Omnibus):           0.000              Jarque-Bera (JB):           1700.983
Skew:                    0.882              Prob(JB):                   0.000
Kurtosis:                2.694              Condition No.:              1380
================================================================================
* The condition number is large (1e+03). This might indicate             strong
multicollinearity or other numerical problems.